.title {
	margin: 20px 0px;
	font-size: 50px;
	text-align: center;
}

.maze-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 10px;
	max-width: 800px;
	margin: 0 auto;

	.sign-wrapper,
	.size-wrapper,
	.error-wrapper {
		display: flex;
		margin: 10px auto;
		width: 100%;
		h1 {
			width: 400px;
			text-align: right;

			@media (max-width: 767px) {
				width: 50%;
			}
		}
		select,
		input {
			width: 300px;
			text-align: center;
			margin-left: 10px;
			border-radius: 5px;
			@media (max-width: 767px) {
				width: 50%;
			}
		}
		@media (max-width: 767px) {
			padding: 10px 0px;
		}
	}
	.error-wrapper {
		justify-content: center;
		align-items: center;
		color: rgb(255, 39, 39);
		font-size: 32px;
	}
}

.timer-title {
  text-align: center;
}

.board-container {
	table {
		display: flex;
		justify-content: center;

		td {
			border: 1px solid lightgray;
			cursor: pointer;
			width: 120px;
			height: 120px;
			font-size: 60px;
			text-align: center;

			&.ai-tile {
				color: red;
			}

			&.user-tile {
				color: green;
			}
		}
	}
}
