.modal-window {
	position: fixed;
	background-color: rgba(15, 15, 15, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;

	& > div {
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2em;
		background: white;
	}
	header {
		font-weight: bold;
	}
	h1 {
		font-size: 150%;
		margin: 10px 0 15px;
		text-align: center;
		width: 100%;
	}
	.reset-button {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		> button {
			border: 1px solid transparent;
			border-radius: 5px;
			background-color: rgb(3, 142, 3);
			padding: 12px 40px;
			margin: 20px auto;
			letter-spacing: 2px;
			color: white;
			font-weight: 600;
			font-size: 24px;
		}
	}
}

.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
	&:hover {
		color: black;
	}
}

/* Demo Styles */
.modal-window {
	& > div {
		border-radius: 1rem;
	}
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}

small {
	color: lightgray;
}

.btn {
	background-color: white;
	padding: 1em 1.5em;
	border-radius: 1rem;
	text-decoration: none;
	i {
		padding-right: 0.3em;
	}
}

.show-modal {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
