* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // to convert 1 rem into 10 px
}

body {
	color: $dark-grey;
	font-family: "Mochiy Pop P One", sans-serif;
	font-size: $m-size;
	line-height: 1.6;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}
